<h1>Emails</h1>
<h3>Enter a new email address:</h3>
<form action="/all_emails" method="post">
  <label for="email">email
     address:</label>
  <input id="email" name="email" type="text">
  <button type="submit">Add email</button>
</form>

<h3>Here are the emails</h3>
<ul>
  <% @all_emails.each() do |email| %>

  <li><%= email.e_address() %></li>
  <form action="/delete_email" method="post">
      <input id='email_id' name='email_id' type='hidden' value='<%= email.e_id() %>'>
    <button type="submit">Delete</button>
  </form>
  <% end %>
</ul>
